<a href="https://github.com/int3/doppio">
  <img style="position: fixed; top: 0; right: 0; border: 0;z-index:9999"
  src="browser/ribbon.png" alt="Fork me on GitHub">
</a>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class='brand bitter' href='about.html'>DoppioJVM</a>
      <ul class='nav'>
        <li><a href='about.html'>About</a></li>
        <li><a href='.'>Demo</a></li>
        <li><a href='docs/runtime.html'>Annotated Source</a></li>
      </ul>
    </div>
  </div>
</div>
