<html>
<head>
  <title>Doppio: A JVM in Javascript</title>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type="text/css" href="browser/style.css">
  <style type="text/css">
    #main {margin: 0 auto;  width:800px;}
  </style>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19272049-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>
<body style='padding-top:60px'>
{{> _navbar}}
<div id='main'>
  <div class='hero-unit'>
    <object data='browser/coffee.svg' type='image/svg+xml'
      style='float:right;display:inline-block;margin-top:-50px'
      viewBox='0 0 200px 190px' preserveAspectRatio='xMinYMin meet'
      width='200px' height='190px'></object>
    <h1 style='display:inline-block;margin-bottom:10px' class='bitter'>Doppio</h1>
    <p class='bitter'>Java on Javascript.</p>
  </div>
{{{about}}}
</div>
</body>
</html>
