<!DOCTYPE html>
<html>
<head>
  <title>DoppioJVM: A JVM in JavaScript</title>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet'>
  <link rel='stylesheet' href="browser/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-java.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js" type="text/javascript" charset="utf-8"></script>
  <!-- BEGIN WebSockify LIBRARY -->
  <script src="vendor/websockify/base64.js"></script>
  <script src="vendor/websockify/util.js"></script>
  <script src="vendor/websockify/websock.js"></script>
  <!-- END WebSockify LIBRARY -->
  <script src="vendor/require.js"></script>
  <script src="vendor/browserfs/dist/browserfs.js"></script>
{{#release}}
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19272049-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="doppio.js"></script>
  <script src="browser/frontend.js"></script>
{{/release}}
{{^release}}
  <script src="browser/require_config.js"></script>
  <script>
    // Define globals for the dev build.
    window['process'] = BrowserFS.BFSRequire('process');
    window['Buffer'] = BrowserFS.BFSRequire('buffer').Buffer;
  </script>
{{/release}}
  <script>
    // Wrap in a closure; don't pollute the global namespace.
    (function() {
      var mfs = new BrowserFS.FileSystem.MountableFileSystem(),
          fs = BrowserFS.BFSRequire('fs');
      BrowserFS.initialize(mfs);
      mfs.mount('/tmp', new BrowserFS.FileSystem.InMemory());
      fs.mkdirSync('/mnt');
      if (BrowserFS.FileSystem.HTML5FS.isAvailable()) {
        // Try for 50MB storage.
        var html5fs = new BrowserFS.FileSystem.HTML5FS(50*1024, window.PERSISTENT);
        html5fs.allocate(function(e) {
          if (e == null) {
            mfs.mount('/mnt/html5fs', html5fs);
          }
        });
      }
      mfs.mount('/mnt/localStorage', new BrowserFS.FileSystem.LocalStorage());
      mfs.mount('/sys', new BrowserFS.FileSystem.XmlHttpRequest('browser/listings.json', ''));
      require(["browser/frontend"], function(frontend) {
        // Kicks everything off!
      });
    })();
  </script>
</head>
<body>
<div id='progress-container'>
  <div id='progress-box'>
    <div id='progress' class='progress progress-striped active' style='background:#ccc'>
      <div class='bar' style='width:0%'></div>
    </div>
    <div id='preloading-file'></div>
  </div>
</div>
<div id='overlay'>
</div>
{{> _navbar}}

<div id='main'>
  <header class='page-header'>
  <h1 id='title' style='float:left;' class='bitter'>DoppioJVM
    <span class='build-info'>
      <a href="https://github.com/int3/doppio/commit/{{git_hash}}">
        @{{git_short_hash}}</a>, built {{date}}
    </span>
  </h1>
    <!-- File upload button strategy credit goes davist11: https://gist.github.com/645816 -->
    <span class="file-wrapper" style='margin: 8px 0 3px 0;float:right;'>
      <input type="file" name="file" id="file" multiple />
      <span class="button">Upload Files...</span>
    </span>
    <h1>&nbsp;</h1>
  </header>
  <div id='ide' style='display:none'>
    <div id='source'></div>
    <!-- the Ace editor affects document flow weirdly, hence this hack -->
    <div style='height:70%'></div>
    <form class='form-inline' style='margin: 8px 0 3px 0;'>
      <label for='filename' class='control-label'>Save As:</label>
      <input type='text' id='filename' class='input-xlarge'/>
      <button id='save_btn' class='btn btn-mini btn-primary'>Save &amp; Close</button>
      <button id='close_btn' class='btn btn-mini btn-primary'>Close Without Saving</button>
    </form>
  </div>

  <div id='console'><div id="consoleUnderlay"><img src="browser/coffee.png"/></div></div>
</div>
</body>
</html>
