.bitter {font-family:'Bitter',serif;}
div#main {margin: 0 auto;  width:900px;}
pre, div#console {
  font-size: 8pt;
  margin-bottom: 1.5em;
}
div#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background:#333;
  filter:alpha(opacity=50);
  height:100%;
  -khtml-opacity:0.5;
  -moz-opacity:0.5;
  opacity:0.5;
  text-shadow:0 0 0 #000;
  width:100%;
}
div#progress-container { position:absolute;top:0;left:0;height:100%;width:100%; }
div#progress-container div {z-index:99999}
div#progress-box { position:relative;top:40%;margin:0 auto;width:300px; }
div#preloading-file { padding-left: 10px; white-space: nowrap; color: #ccc; }
div#console > pre { margin: 0; padding: 0; background: #222; color: #ccc; }
div#source { width:100%; height:70%;
  position:relative;border: 1px solid #ccc; float: left;}
div#console { height: 75%; padding:0; }
@-webkit-keyframes blinker {
  0% { background:#ccc; color:#222; }
  50% { background:#ccc; color:#222; }
  51% { background:#222; color:#ccc; }
  100% { background:#222; color:#ccc; }
}
@-moz-keyframes blinker {
  0% { background:#ccc; color:#222; }
  50% { background:#ccc; color:#222; }
  51% { background:#222; color:#ccc; }
  100% { background:#222; color:#ccc; }
}
div#console pre.jquery-console-focus span.jquery-console-cursor {
  background:#ccc; color:#222;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
  -moz-animation-name: blinker;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-duration: 1s;
}
div#console pre.jquery-console-inner
 { width:100%; height:100%; padding: 0.5em;
   overflow:auto }
div#console div.jquery-console-prompt-box
 { color:#ccc; }
label { margin-right: 5px; }