.bitter {font-family:'Bitter',serif;}
body {
  padding-top: 40px;
}
div#main {margin: 0 auto;  width:900px;}
pre, div#console {
  font-size: 8pt;
  margin-bottom: 1.5em;
}
div#consoleUnderlay {
  position:absolute;
  top: 0;
  right: 5px;
  visibility: hidden;
  z-index: 2;
}
div#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background:#333;
  filter:alpha(opacity=50);
  height:100%;
  -khtml-opacity:0.5;
  -moz-opacity:0.5;
  opacity:0.5;
  text-shadow:0 0 0 #000;
  width:100%;
  z-index: 9999;
}
div#progress-container { position:absolute;top:0;left:0;height:100%;width:100%; }
div#progress-container div {z-index:99999}
pre.jquery-console-inner > div, pre.jquery-console-inner > textarea {z-index:3;}
div#progress-box { position:relative;top:40%;margin:0 auto;width:300px; }
div#preloading-file { padding-left: 10px; white-space: nowrap; color: #ccc; }
div#console > pre { margin: 0; background: #222; padding: 0; color: #ccc; }
div#source { width:100%; height:500px;
  position:relative;border: 1px solid #ccc; float: left;}
div#console { position:relative; height: 500px; padding:0; }
@-webkit-keyframes blinker {
  0% { background:#ccc; color:#222; }
  50% { background:#ccc; color:#222; }
  51% { background:#222; color:#ccc; }
  100% { background:#222; color:#ccc; }
}
@-moz-keyframes blinker {
  0% { background:#ccc; color:#222; }
  50% { background:#ccc; color:#222; }
  51% { background:#222; color:#ccc; }
  100% { background:#222; color:#ccc; }
}
@-o-keyframes blinker {
  0% { background:#ccc; color:#222; }
  50% { background:#ccc; color:#222; }
  51% { background:#222; color:#ccc; }
  100% { background:#222; color:#ccc; }
}
/* IE10 isn't prefixed */
@keyframes blinker {
  0% { background:#ccc; color:#222; }
  50% { background:#ccc; color:#222; }
  51% { background:#222; color:#ccc; }
  100% { background:#222; color:#ccc; }
}
@-webkit-keyframes spinner {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(359deg) }
}
@-moz-keyframes spinner {
  0%   { -moz-transform: rotate(0deg) }
  100% { -moz-transform: rotate(359deg) }
}
@-o-keyframes spinner {
  0%   { -o-transform: rotate(0deg) }
  100% { -o-transform: rotate(359deg) }
}
/* IE10 isn't prefixed */
@keyframes spinner {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(359deg) }
}
div#console pre.jquery-console-focus span.jquery-console-cursor {
  background:#ccc; color:#222;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
  -moz-animation-name: blinker;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -moz-animation-duration: 1s;
  -o-animation-name: blinker;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -o-animation-duration: 1s;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1s;
}
div#console span.jquery-console-cursor-busy {
  background:none; color:none;
  -webkit-animation-name: none !important;
  -moz-animation-name: none !important;
  -o-animation-name: none !important;
  animation-name: none !important;
}
div.consoleUnderlayBusy {
  visibility:visible !important;
  -webkit-animation-name: spinner !important;
  -webkit-animation-iteration-count: infinite !important;
  -webkit-animation-timing-function: linear !important;
  -webkit-animation-duration: 5s !important;
  -moz-animation-name: spinner !important;
  -moz-animation-iteration-count: infinite !important;
  -moz-animation-timing-function: linear !important;
  -moz-animation-duration: 5s !important;
  -o-animation-name: spinner !important;
  -o-animation-iteration-count: infinite !important;
  -o-animation-timing-function: linear !important;
  -o-animation-duration: 5s !important;
  animation-name: spinner !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: linear !important;
  animation-duration: 5s !important;
}
div#console pre.jquery-console-inner
 { width:100%; height:100%; padding: 0.5em;
   overflow:auto }
div#console div.jquery-console-prompt-box
 { color:#ccc; }
label { margin-right: 5px; }
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.file-wrapper input {
  cursor: pointer;
  font-size: 100px;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}

.file-wrapper .button {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
  padding: 4px 18px;
  text-transform: uppercase;
}

.build-info {
  font-size: 7pt;
  color: #999;
}
