*.bat
*.js
*.js.map
/vendor/java_home
/includes
.vscode

*.swp
*.un~
*.class
*.runout
*.result
*.disasm
*.tar.gz
/node_modules
/build
.DS_store
# Command-line tools
/doppio
/doppioh
/doppio-dev
/doppio-fast-dev
# Error log
doppio.err
/classes/test/failures.txt

# IntelliJ metadata
*.iml
.idea

# Log files
*.log

# grunt-ts command file
tscommand-*.txt
.tscache
.baseDir*.ts

# harness
tasks/test/*.d.ts

# Generated for browser builds.
/shims

/dist
/docs/examples/doppio
/docs/examples/listings.json

