*.js
*.swp
*.un~
*.class
*.runout
*.result
*.disasm
*.tar.gz
node_modules
build
docs
index.html
about.html
.DS_store
doppio
# But we want to allow classes/doppio
!classes/doppio
doppio-dev
core-*
browser/_about.html
vendor/java_home
vendor/jars/
tools/preload
classes/test/failures.txt
*.iml
.idea
src/natives.coffee
