build
vendor/java_home
/classes
./typings
tools
tasks
.tsdrc
.travis.yml
scratch
*.class
*.runout
.tscache
tscommand*
doppio.err
tasks
./Grunt*
shims
*.yml
Grunttasks*
Gruntfile.js
/jsconfig.json
/tsconfig.json
/typings
/typings.json
