body {
  width: 75%;
  margin: 0 auto;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
}

a {
  color: blue;
}

#main {
  display: table-row;
  padding: 10px;
}

#frames, #objects {
  display: table-cell;
  padding: 5px;
}

ul {
  list-style-type: none;
  margin-left: 1px;
  padding-left: 0;
  white-space: nowrap;
}

ul.fields {
  padding-left: 1em;
}

#frames > ul > li, #objects > ul > li {
  padding: 0 5px;
  margin: 1px;
}

#frames > ul:nth-child(odd), #objects > ul:nth-child(odd) {
  background-color: #f8f8f8;
}

.array-entry {
  margin: 0 3px;
}
